@model MVC3.Models.UserTable

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit -- 修改（編輯）畫面</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @using (Html.BeginForm())
    {<!-- 避免XSS、CSRF攻擊 -->
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>UserTable</h4>...... 編輯（修改）畫面
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.UserId)

            <!-- 自己補上的。呈現這筆記錄的ID（主索引鍵）********** (start) -->
            <div class="form-group">
                @Html.DisplayNameFor(model => model.UserId)

                <font color="red"> @Html.DisplayFor(model => model.UserId) </font>  （唯讀、ReadOnly -- @@Html.DisplayFor()）
            </div>
            <!-- 自己補上的。呈現這筆記錄的ID（主索引鍵）********** (end) -->


            <div class="form-group">
                <br /><br />
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <br /><br />
                @Html.LabelFor(model => model.UserSex, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.UserSex, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserSex, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <br /><br />
                注意！<font color="red">日期欄位，需修正為 yyyy/MM/dd。不可以有時間欄位（如 12:00:00）。</font>下一個範例將會修正。
                <br />
                @Html.LabelFor(model => model.UserBirthDay, htmlAttributes: new { @class = "control-label col-md-2" })

                <!-- ******  重點！！  重點！！  重點！！ ****** (start)  -->
                <br />原本預設的日期格式，是DateTime -- <b> @Html.DisplayFor(model => model.UserBirthDay) </b>
                <br />
                @*  註解：原本預設的日期格式，輸入的文字方塊如下  *@
                @* @Html.EditorFor(model => model.UserBirthDay, new { htmlAttributes = new { @class = "form-control" } }) *@

                <br />                                <!-- ****** 解決方法在此！ ****** 如同 Details檢視畫面 的作法 ***** -->
                @Html.EditorFor(model => model.UserBirthDay, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control",
                        @Value = @Convert.ToDateTime(Model.UserBirthDay).ToString("yyyy/MM/dd")
                    }
                })
                <!-- ********************************************** (end) -->

                @Html.ValidationMessageFor(model => model.UserBirthDay, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <br /><br />
                @Html.LabelFor(model => model.UserMobilePhone, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.UserMobilePhone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserMobilePhone, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <br /><br />
                <input type="submit" value="編輯、修改" />
            </div>
        </div>
    }

    <div>
        <br /><br />        @Html.ActionLink("Back to List（回  列表）", "List")
    </div>
</body>
</html>
