@model IEnumerable<MVC3.Models.UserTable>
 
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexPage</title>
</head>
<body>
    <h3>分頁。請自行輸入「頁數」與「URL」，如 ...... /UserDB/IndexPage/<b>3</b></h3>
    <br /><br />
    <p>
        @Html.ActionLink("Create New（新增）", "Create")
    </p>
    <table class="table" border="1">
        <tr>
            <th bgcolor="yellow">
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th bgcolor="yellow">
                @Html.DisplayNameFor(model => model.UserSex)
            </th>
            <th bgcolor="yellow">
                @Html.DisplayNameFor(model => model.UserBirthDay)
            </th>
            <th bgcolor="yellow">
                @Html.DisplayNameFor(model => model.UserMobilePhone)
            </th>
            <th bgcolor="yellow"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserSex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserBirthDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserMobilePhone)
                </td>
                <td>
                    @Html.ActionLink("Edit（編輯）", "Edit", new { _ID = item.UserId }) |
                    @Html.ActionLink("Details（明細）", "Details", new { _ID = item.UserId }) |
                    @Html.ActionLink("Delete（刪除）", "Delete", new { _ID = item.UserId })
                </td>
            </tr>
        }

    </table>
</body>
</html>
