@* @model IEnumerable<WebApplication2017_MVC_GuestBook.Models.UserTable>*@

@*  註解： 也可以寫成下面這樣：*@
@using MVC3.Models     @* 註解： 宣告命名空間 *@
@model IEnumerable<UserTable>
@* 註解： model（資料型態） *@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New（新增）", "Create")
    </p>
    <table class="table" border="1">
        <tr>
            <th>@Html.DisplayNameFor(m => m.UserName)</th>
            <th>@Html.DisplayNameFor(m => m.UserSex)</th>
            <th>@Html.DisplayNameFor(m => m.UserBirthDay)</th>
            <th>@Html.DisplayNameFor(m => m.UserMobilePhone)</th>
            <th></th>
        </tr>        

        @foreach (var item in Model)    // 註解：請問 model與 Model兩個字（除了大小寫不同）有何差異？？
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                <td>@Html.DisplayFor(modelItem => item.UserSex)</td>
                <td>@Html.DisplayFor(modelItem => item.UserBirthDay)</td>
                <td>@Html.DisplayFor(modelItem => item.UserMobilePhone)</td>
                <td>
                    @Html.ActionLink("Edit（編輯與修改）", "Edit", new { _ID = item.UserId }) |
                    @Html.ActionLink("Details（明細）", "Details", new { _ID = item.UserId }) |
                    @Html.ActionLink("Delete（刪除）", "Delete", new { _ID = item.UserId })
                </td>
            </tr>
        }

    </table>


    <hr />

    <h3>Search文章搜尋 #1</h3>
    <!-- ***************************************************************** -->
    @using (Html.BeginForm("Search", "UserDB", FormMethod.Post))   // 三個參數分別是：(1)動作名稱、(2)控制器名稱、(3)POST或GET
    {
        @:請輸入關鍵字，搜尋「UserName」欄位 --
        @Html.TextBox("_SearchWord") // 必須跟「控制器」裡面 Search動作的「輸入變數」一樣。
        <input type="submit" value="搜尋（請輸入關鍵字）" /> <br /><br />
    }

    <hr />

    <h3>Search文章搜尋 #2</h3>
    <!-- ***************************************************************** -->
    @using (Html.BeginForm("Search2", "UserDB"))   // 三個參數分別是：(1)動作名稱、(2)控制器名稱、(3)POST或GET
    {
        @:請輸入關鍵字，搜尋「UserName」欄位 --
        @Html.TextBox("_ID") // 必須跟「控制器」裡面 Search2動作的「輸入變數 _ID」一樣。
        <input type="submit" value="搜尋#2（請輸入關鍵字）" /> <br /><br />
    }

    <hr />

    <h3>Search文章搜尋 #3</h3>
    <!-- ***************************************************************** -->
    @using (Html.BeginForm("Search3", "UserDB", FormMethod.Get))   // 三個參數分別是：(1)動作名稱、(2)控制器名稱、(3)POST或GET
    {
        @:請輸入關鍵字，搜尋「UserName」欄位 --
        @Html.TextBox("_SearchWord") // 必須跟「控制器」裡面 Search動作的「輸入變數」一樣。
        <input type="submit" value="搜尋#3（請輸入關鍵字）" /> <br /><br />
    }



</body>
</html>
